<article class="dream">
    <div class="title">
        <span>{{title}}</span>
    </div>
    <div class="description">
        <p>{{description}}</p>
    </div>
    <div class="meta">
        <p>{{comments.length}} comment(s)</p>
        {{#each tags}}
        {{/each}}
    </div>
</article>