<section>
    <h2> Record Your Dream</h2>

    <form class="new-dream-form">
        <div>
            <label for="dream-title">Title</label>
            <input type="text" name="dream-title" id="dream-title" />
        </div>
        <div>
            <textarea name="dream-body"></textarea>
        </div>

        <label for="public-dream">Would you like this dream to be public?</label>
        <input type="checkbox" id="public-dream">


        <span>Select tags To categorize your dream?</span>
        {{#each tags as |tag|}}

                <label for="dream-tags">{{tag_name}}</label>
                <input type="checkbox" id="dream-tags">

        {{/each}}

        <button type="submit" class="btn">Create</button>
    </form>
</section>

{{#if dreams.length}}

<section>
    <h2>Your Public Dreams</h2>
    {{#each dreams as |dream|}}
    {{#if public}}
    <ol>
        <li>
            {{> dream-info dream}}
            <a href="/dashboard/edit/{{dream.id}}" class="edit-link">Edit Dream</a>
        </li>
    </ol>
    {{/if}}
    {{/each}}
    <h2>Your Private Dreams</h2>
    {{#each dreams as |dream|}}
    {{#unless public}}
    <ol>
        <li>
            {{> dream-info dream}}
            <a href="/dashboard/edit/{{dream.id}}" class="edit-link">Edit Dream</a>
        </li>
    </ol>
    {{/unless}}
    {{/each}}
</section>
{{/if}}