<article>
    <a href="/dashboard">&larr; My Dashboard</a>
    <h2>
        Edit Dream
    </h2>
    <form class="edit-dream-form">
        <div>
            <input type="text" name="dream-title" value="{{dream.title}}" />
             <input type="text" name="dream-description" value="{{dream.description}}" />
        </div>
        <button type="submit">Save post</button>
        <button type="button" class="delete-dream-btn">Delete Post</button>
    </form>
</article>
<a href="/dream/{{id}}">{{comments.length}} comment(s)</a>

{{> comments dream.comments}}

<script src="/js/edit-dream.js"></script>
<script src="/js/delete-dream.js"></script>