<link rel="stylesheet" href="/css/dashboard.css" />

<div>

    <form class="edit-dream-form form-group col-11 ml-5">
        <h2 class=" d-flex justify-content-center record-title">
            Edit Dream
        </h2>
        <div class="row">
            <input type="text" name="dream-title" class="col-8 col-sm-4 mb-1 form-control my-2 record-title" value="{{dream.title}}" />
            <textarea type="text" name="dream-description" class="col-10 mb-2 form-control my-2 record-title ">{{dream.description}}</textarea>
        </div>
        <div class="row">
              <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-expanded="false">
                        Add a tag
                    </button>
                    <div class="dropdown-menu">
                        <a id="nightmare" class="dropdown-item" href="#">Nightmare</a>
                        <a id="lucid" class="dropdown-item" href="#">Lucid</a>
                        <a id="realistic" class="dropdown-item" href="#">Realistic</a>
                        <a id="recurring" class="dropdown-item" href="#">Recurring</a>
                        <a id="prophetic" class="dropdown-item" href="#">Prophetic</a>
                        <a id="daydream" class="dropdown-item" href="#">Daydream</a>
                        <a id="erotic" class="dropdown-item" href="#">Erotic</a>
                    </div>
            <button class="btn btn-dark mx-2" type="submit">Save Dream</button>
            <button type="button" class="delete-dream-btn btn btn-danger mx-2">Delete Dream</button>
        </div>
    </form>
</div>

<a  class="text-info ml-5 font-weight-bold" href="/dream/{{dream.id}}">{{comments.length}} comment(s)</a>

{{> comments dream.comments}}

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="/js/edit-dream.js"></script>
<script src="/js/delete-dream.js"></script>