<link rel="stylesheet" href="/css/dream-forum.css" />
{{> dream-info dream }}
{{#if loggedIn}}
<form class="comment-form">
    <div class="row">
        <textarea class="col-10 col-sm-8 mt-2" name="comment-body"></textarea>
    </div>

    <div>
        <button class="btn btn-secondary mt-2" type="submit">add comment</button>
    </div>
</form>
{{/if}}

{{> comments dream.comments}}
{{#if loggedIn}}
<script src="/js/comment.js"></script>
{{/if}}