.card {
    margin: 0 auto 40px;
    background-color: #ece5f0;
    padding: 0;
    /* margin: 100px; */
    /* height: 270px; */
}

#comment-card {
    margin-top: 30px;
    margin-bottom: 10px;
}

/* .title {
    font-weight: bolder;
    font-size: 35px;
}  */
/* 
.meta {
    margin-top: 20px;
} */

/* .description {
    padding: 30px;
} */

#dreamscape-title {
    font-size: 50px;
    color: white;
}

body {
    background-image: url(../images/pexels-guillaume-meurice-2873671.jpg);
    background-size: cover;
    background-attachment: fixed;
}

textarea {
    height: 200px;
    width: 100%;
}

#textarea {
    height: 150px;
    width: 100%;
}