.login-form-div {
    margin-top: 50px;
}

.signup-form-div {
    margin-top: 50px;
}

body{
    background-image: url(../images/Depositphotos_8469695_XL_0.jpg);
    background-size: cover;
}

.card {
    margin: 100px;
    height: 270px;

}

.title {
    font-weight: bolder;
    font-size: 35px;
}

.meta {
    margin-top: 20px;
}

.description {
    padding: 30px;
}

#dreamscape-title {
    font-size: 50px;
}

