.login-form-div {
    margin-top: 50px;
}

.signup-form-div {
    margin-top: 50px;
}

body {
    background-image: url(../images/Depositphotos_8469695_XL_0.jpg);
    background-size: cover;
}

h1 {
    text-align: center;
    color: white;
 
 }

